{% extends 'base.html.twig' %}

{% block title %}Front - Notification list{% endblock %}

{% block body %}
    <h1>Notifications (Front)</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Message</th>
                <th>IsRead</th>
                <th>CreatedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.id }}</td>
                <td>{{ notification.user ? notification.user.username : '' }}</td>
                <td>{{ notification.message }}</td>
                <td>{{ notification.isRead ? 'Yes' : 'No' }}</td>
                <td>{{ notification.createdAt ? notification.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no notifications found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
